<%- include('partials/header') %>

<section class="about">
  <div class="container">
    <h1 class="my-4">About Our Web App</h1>

    <!-- <h2>App Features</h2>

    <ol>
      <h4><li>User Authentication:</li></h4>
      <ul>
        <li><p>Users can register and log in to the platform securely.</p></li>
        <li>
          <p>
            Passport.js is used for local authentication (username/password) and
            Google OAuth2.0 authentication.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>Secret Sharing:</li></h4>
      <ul>
        <li>
          <p>Authenticated users can submit their secrets anonymously.</p>
        </li>
        <li>
          <p>
            Secrets are stored in the MongoDB database and are associated with
            the user who submitted them.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>Viewing Secrets:</li></h4>
      <ul>
        <li><p>Users can view secrets submitted by other users.</p></li>
        <li><p>Only authenticated users can view secrets.</p></li>
      </ul>
    </ol>

    <ol>
      <h4><li>Google Authentication:</li></h4>
      <ul>
        <li>
          <p>Users can sign in or register using their Google accounts.</p>
        </li>
        <li>
          <p>Google OAuth2.0 is used for secure authentication with Google.</p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>About and Welcome Pages:</li></h4>
      <ul>
        <li>
          <p>
            The app provides pages to introduce users to the platform and give
            them information about its purpose.
          </p>
        </li>
      </ul>
    </ol>

    <h2>How to Use the App:</h2>

    <ol>
      <h4><li>Register/Login:</li></h4>
      <ul>
        <li>
          <p>
            Visit the app's homepage and click on the "Register" or "Login" link
            to create an account or log in.
          </p>
        </li>
        <li>
          <p>
            Users can register with a username and password or use their Google
            account for authentication.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>View Secrets:</li></h4>
      <ul>
        <li>
          <p>
            After logging in, users can navigate to the "Secrets" page to view
            secrets submitted by other users.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>Submit Secrets:</li></h4>
      <ul>
        <li>
          <p>
            Authenticated users can submit their secrets by navigating to the
            "Submit" page and filling out the form.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>Google Authentication:</li></h4>
      <ul>
        <li>
          <p>
            If users prefer to sign in using their Google account, they can
            click on the "Sign in with Google" button on the login page.
          </p>
        </li>
      </ul>
    </ol>

    <ol>
      <h4><li>About and Welcome Pages:</li></h4>
      <ul>
        <li>
          <p>
            Users can learn more about the platform and its purpose by visiting
            the "About" page.
          </p>
        </li>
        <li>
          <p>
            The "Welcome" page provides users with a welcoming message and
            possibly some instructions on how to get started.
          </p>
        </li>
      </ul>
    </ol> -->

  <div class="row justify-content-around">
    <div class="col-5 card text-black ">
      <h3 class="card-header">App Features</h3>
      <div class="card-body">
        <h5 class="card-title">1. User Authentication:</h5>
        <p class="card-text">
          <li>Users can register and log in to the platform securely.</li>
        </p>
        <li>
          Passport.js is used for local authentication (username/password) and
          Google OAuth2.0 authentication.
        </li>
        <br />
        <h5 class="card-title">2. Secret Sharing:</h5>
        <p class="card-text">
          <li>Authenticated users can submit their secrets anonymously.</li>
        </p>
        <li>
          Secrets are stored in the MongoDB database and are associated with the
          user who submitted them.
        </li>
        <br />
        <h5 class="card-title">3. Viewing Secrets:</h5>
        <p class="card-text">
          <li>Users can view secrets submitted by other users.</li>
        </p>
        <li>Only authenticated users can view secrets.</li>
        <br />
        <h5 class="card-title">4. Google Authentication:</h5>
        <p class="card-text">
          <li>If users prefer to sign in using their Google account, they can
            click on the "Sign in with Google" button on the login page.</li>
        </p>
        
        <br />
        <h5 class="card-title">5. About and Welcome Pages:</h5>
        <p class="card-text">
          <li>
            Users can learn more about the platform and its purpose by visiting
            the "About" page.
          </li>
        </p>
        <li> The "Welcome" page provides users with a welcoming message and
          possibly some instructions on how to get started.</li>
        <br />
      </div>
    </div>

    <div class="col-5 card text-white bg-secondary">
      <h3 class="card-header">How to Use the App</h3>
      <div class="card-body">
        <h5 class="card-title">1. Register/Login:</h5>
        <p class="card-text">
          <li>Visit the app's homepage and click on the "Register" or "Login" link
            to create an account or log in.</li>
        </p>
        <li>
          Users can register with a username and password or use their Google
              account for authentication.
        </li>
        <br />
        <h5 class="card-title">2. View Secrets:</h5>
        <p class="card-text">
          <li>After logging in, users can navigate to the "Secrets" page to view
            secrets submitted by other users.</li>
        </p>
      
        <br />
        <h5 class="card-title">3. Submit Secrets:</h5>
        <p class="card-text">
          <li> Authenticated users can submit their secrets by navigating to the
            "Submit" page and filling out the form.</li>
        </p>

        <br />
        <h5 class="card-title">4. Google Authentication:</h5>
        <p class="card-text">
          <li>Users can sign in or register using their Google accounts.</li>
        </p>
        <li>Google OAuth2.0 is used for secure authentication with Google.</li>
        <br />
        <h5 class="card-title">5. About and Welcome Pages:</h5>
        <p class="card-text">
          <li>
            The app provides pages to introduce users to the platform and give
            them information about its purpose.
          </li>
        </p>
        <br />
      </div>
    </div>
  </div>

    <section class="navigation pb-5">
      <div class="container">
        <!-- <p>Return to <a href="/">Home Page</a></p> -->
        <a
          href="/"
          class="btn btn-dark btn-lg"
          role="button"
          style="text-decoration: none"
          >Home</a
        >
        <!-- <p>Proceed to <a href="/login">Login Page</a></p> -->
        <a
          href="/login"
          class="btn btn-dark btn-lg"
          role="button"
          style="text-decoration: none"
          >Login
        </a>
      </div>
    </section>
  </div>
</section>


<%- include('partials/footer') %>
