<%- include('partials/header.ejs') %>

<section class="hero">
    <div class="container">
        <h1>Welcome to Our Web App</h1>
        <p>Unlock the secrets of our community</p>
        <a href="/" class="btn btn-dark btn-lg" role="button" style="text-decoration: none;" >Visit Our App</a>
    </br>
</br>
        <p>
            "If you feel hesitant about publicly sharing your secrets but still desire an outlet, you can anonymously share them on the Secrets web app platform."</p>
            
    </div>
</section>
<section class="features">
    <div class="container">
        <h2>Features</h2>
        <div class="feature">
            <i class="fas fa-lock"></i>
            <h3>Secure Authentication</h3>
            <p>Protect your data with our secure authentication system.</p>
            <a href="/about" class= "btn btn-light btn-lg" role="button" style="text-decoration: none;" >Click Here, for more details...</a>
        </div>
        <div class="feature">
            <i class="fas fa-users"></i>
            <h3>User Community</h3>
            <p>Join a vibrant community of users sharing their secrets.</p>
            <a href="/about" class="btn btn-light btn-lg" role="button" style="text-decoration: none;" >Click Here, for more details...</a>
        </div>
        <div class="feature">
            <i class="fas fa-key"></i>
            <h3>Share Secrets</h3>
            <p>Share your secrets anonymously and discover secrets shared by others.</p>
            <a href="/about" class="btn btn-light btn-lg" role="button" style="text-decoration: none;" >Click Here, for more details...</a>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
